<div class="container-resp-nav">
    <mat-card class="example-card" style="width: 80%;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <mat-icon svgIcon="person_circle"></mat-icon>
            </div>
            <mat-card-title>{{patient?.nomPatient}} {{patient?.prenomPatient}}</mat-card-title>
            <mat-card-subtitle>
                Date de dernière consultation : {{ derniereConsultation?.dateConsultation }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group dynamicHeight mat-align-tabs="center">
                <mat-tab label="Info. générales">
                    <div class="example-small-box mat-elevation-z4">
                        Info. générales
                    </div>
                </mat-tab>
                <mat-tab label="Saisir note">
                    <div class="example-small-box mat-elevation-z4">
                        Saisir note
                    </div>
                </mat-tab>
                <mat-tab label="Info. complémentaires">
                    <div class="example-small-box mat-elevation-z4">
                        Info. complémentaires
                    </div>
                </mat-tab>
                <mat-tab label="Suvi">
                    <div class="example-small-box mat-elevation-z4">
                        <mat-form-field>
                            <input matInput placeholder="Médicament" aria-label="State" [matAutocomplete]="auto"
                                [formControl]="searchMedicamentCtrl">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let medicament of filteredMedicaments" [value]="medicament">
                                        <span><b>{{medicament?.title}}</b></span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>